/* ////////// GOOGLE FONTS /////////// */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,600;0,700;0,800;1,400&display=swap");

/* ////////// CSS VARIABLES /////////// */
:root {
  /* Colors */
  --primary-color: #4070f4;
  --secondary-color: #0e2431;
  /*
    #242526
    #18191A
  */

  /* Fonts & Typography */
  --font-mid: 600;
  --font-large: 2rem;
  --font-regular: 0.938rem;
  --h2-font-size: 1.25rem;
  --body-font: "Poppins", sans-serif;

  /* Margins & Padding */
  --header-height: 3rem;
  --m1: 0.5rem;
  --m2: 1rem;
  --m3: 1.5rem;
  --m4: 2rem;
  --m5: 2.5rem;
  --m6: 3rem;

  /* Z-Index */
  --z-back: -10;
  --z-normal: 1;
  --z-tooltip: 10;
  --z-fixed: 100;
}

/* ////////// BASE /////////// */
*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: var(--header-height) 0 0 0;
  font-family: var(--body-font);
  font-size: var(--font-regular);
  color: var(--secondary-color);

  ul {
    list-style: none;
  }

  a {
    text-decoration: none;
  }

  img {
    max-width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
  }
}

.site {
  /* ////////// PRIMARY CLASSES /////////// */
  .section-title {
    position: relative;
    font-size: var(--h2-font-size);
    text-align: center;
    color: var(--primary-color);
    margin-top: var(--m2);
    margin-bottom: var(--m4);

    &::after {
      position: absolute;
      content: "";
      width: 64px;
      height: 0.18rem;
      left: 0;
      right: 0;
      margin: auto;
      top: 2rem;
      background-color: var(--primary-color);
    }
  }

  .section {
    padding-top: 3rem;
    padding-bottom: 2rem;
  }

  /* ////////// SITE LAYOUT /////////// */
  .grid {
    display: grid;
    grid-template-columns: 100%;
    column-gap: 2rem;
    max-width: 1024px;
    width: calc(100% - 2rem);
    margin: 0 var(--m2) 0 var(--m2);
  }

  .header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--z-fixed);
    background-color: #ffffff;
    box-shadow: 0 0.5rem 2rem rgba(146, 161, 176, 0.15);
  }

  .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: var(--header-height);
    font-weight: var(--font-mid);

    &__menu--item {
      margin-bottom: var(--m4);
    }

    &__menu--link {
      position: relative;
      color: #ffffff;

      &:hover {
        position: relative;
      }

      &:hover::after {
        position: absolute;
        content: "";
        width: 100%;
        height: 0.18rem;
        left: 0;
        top: 2rem;
        background-color: var(--primary-color);
      }
    }

    &__logo {
      color: var(--secondary-color);
    }

    &__menu--icon {
      color: var(--secondary-color);
      font-size: 1.5rem;
      cursor: pointer;
    }
  }

  .open::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 0.18rem;
    left: 0;
    top: 2rem;
    background-color: var(--primary-color);
  }

  .show {
    right: 0;
  }

  .home {
    height: calc(100vh - 3rem);
    row-gap: 1rem;

    &__content {
      align-self: center;

      &--title {
        font-size: var(--font-large);
      }

      &--subtitle {
        color: var(--primary-color);
        margin-bottom: var(--m2);
      }

      &--button {
        display: inline-block;
        background-color: var(--primary-color);
        color: #ffffff;
        padding: 0.75rem 2.5rem;
        font-weight: var(--font-mid);
        border-radius: 0.5rem;

        &:hover {
          box-shadow: 0 0.6rem 1rem rgba(0, 0, 0, 0.15);
        }
      }
    }

    &__socials--icon {
      width: max-content;
      margin-bottom: var(--m2);
      font-size: 1.4rem;
      color: var(--secondary-color);

      &:hover {
        color: var(--primary-color);
      }
    }

    &__profileImage {
      width: 22.5rem;
      align-self: flex-end;
      img {
        border-radius: 50%;
      }
    }
  }

  .about {
    &__container {
      row-gap: 2rem;
      text-align: center;
    }
  }

  .skills {
    &__container {
      row-gap: 2rem;
      text-align: center;
    }

    &__content {
      display: flex;
      align-items: center;
      position: relative;
      font-weight: var(--font-mid);
      padding: 0.5rem 1rem;
      margin-bottom: var(--m4);
      border-radius: 0.5rem;
      box-shadow: 0 4px 25px rgba(14, 36, 49, 0.15);
      img {
        width: 1.5rem;
      }

      &--icon {
        margin-right: var(--m2);
      }
    }
  }

  .projects {
    text-align: center;

    &__container {
      row-gap: 2rem;
    }

    &__project--img {
      box-shadow: 0 4px 25px rgba(14, 36, 49, 0.15);
      border-radius: 0.5rem;
      overflow: hidden;

      img {
        transition: 1s;
        cursor: pointer;

        &:hover {
          transform: scale(1.1);
        }
      }
    }
  }
}

/* ////////// MEDIA QUERIES /////////// */
@media screen and (min-width: 768px) {
  :root {
    --font-large: 3.5rem;
    --h2-font-size: 2rem;
    --font-regular: 1rem;
  }
}

@media screen and (max-width: 768px) {
  .nav__menu {
    position: fixed;
    top: var(--header-height);
    right: -100%;
    width: 80%;
    height: 100%;
    padding: 2rem;
    background-color: var(--secondary-color);
    transition: 0.5s;
  }
}
